<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Main page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Prictice app">
        

        <link rel="icon" href="" type="image/x-icon">

        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
        <link rel="stylesheet" href="css/nice-select.css" type="text/css">
        <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
        <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
        <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
 
    
    </head>
    <body>
        <header class="header-section header-normal">
            <div class="container-fluid">
                <div class="logo">
                    <a href="#">
                        <img src="img/logo.png" alt="">
                    </a>
                    </div>
                    <div class="container">
                        <div class="nav-menu">
                            <nav class="mainmenu mobile-menu">
                                <ul>
                                    <li><a href="main.html">Главная</a></li>
                                    <li><a href="training-main.html">Тренировки</a></li>
                                    <li><a href="calendar.html">Календарь</a></li>
                                    <li><a href="other.html">Прочее</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                <div id="mobile-menu-wrap"></div>
            </div>
        </header>
        <form><section class="training-single" id="exercise-container">
            
            <h1>Создай свою тренировку</h1>
            <div class="exercise">
                <h3>Упражнение</h3>
                <div class="exercise-cont">
                    <div class="ex-name-cont">
                        <span>Упражнение 1</span><br>
                        <input type="text" class="input-exercise" placeholder="Название упражнения">
                    </div>
                    <div class="ex-cont set-cont">
                        <span>подход</span><br>
                        <input type="number" class="ex-inp input-set" placeholder="1-5">
                    </div>
                    <div class="ex-cont reps-cont">
                        <span>повторение</span><br>
                        <input class="ex-inp input-rep" placeholder="1-12">
                    </div>
                    <div class="ex-cont weight-cont">
                        <span>вес</span><br>
                        <input class="ex-inp input-weight" placeholder="1-500">
                    </div>
                </div>
            </div>
            
        </section>
        <button class="btn-result" id="create-tr" type="submit">Сохранить тренировку</button>
    </form>
        <button onclick="addExercise()" id="add-exercise">Добавить упражнение</button>

        <script type="text/javascript">
let count = 2;

function addExercise() {
    const exerciseContainer = document.getElementById('exercise-container');
    const newExercise = document.createElement('div');
    newExercise.classList.add('exercise');

    newExercise.innerHTML = `
        <h3>Упражнение </h3>
        <div class="exercise-cont">
            <div class="ex-name-cont">
                <span>Упражнение ${count}</span><br>
                <input type="text" class="input-exercise" placeholder="Введите название упражнения">
            </div>
            <div class="ex-cont set-cont">
                <span>подход</span><br>
                <input type="number" class="ex-inp input-set" placeholder="1-5">
            </div>
            <div class="ex-cont reps-cont">
                <span>повторение</span><br>
                <input class="ex-inp input-rep" placeholder="1-12">
            </div>
            <div class="ex-cont weight-cont">
                <span>вес</span><br>
                <input class="ex-inp input-weight" placeholder="1-500">
            </div>
        </div>
    `;
    count++;
    if (count < 22) {
        exerciseContainer.appendChild(newExercise);
    } else {
        console.log(count);
        alert("Вы достигли лимита упражнений за тренировку");
    }
}

        </script>
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/mixitup.min.js"></script>
        <script src="js/jquery.nice-select.min.js"></script>
        <script src="js/jquery.slicknav.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/masonry.pkgd.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>