<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Main page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Prictice app">
        

        <link rel="icon" href="" type="image/x-icon">

        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
        <link rel="stylesheet" href="css/nice-select.css" type="text/css">
        <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
        <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
        <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
 
    
    </head>
    <body>
        <header class="header-section header-normal">
            <div class="container-fluid">
                <div class="logo">
                    <a href="#">
                        <img src="img/logo.png" alt="">
                    </a>
                    </div>
                    <div class="container">
                        <div class="nav-menu">
                            <nav class="mainmenu mobile-menu">
                                <ul>
                                    <li><a href="main.html">Главная</a></li>
                                    <li><a href="training-main.html">Тренировки</a></li>
                                    <li><a href="calendar.html">Календарь</a></li>
                                    <li><a href="other.html">Прочее</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                <div id="mobile-menu-wrap"></div>
            </div>
        </header>

        <section class="top-label top-label-main" style="background-image: url('img/single-label.jpg'); background-position: bottom;">
            <div class="container-label">
                <h1 id="single-label">Тренировка</h1><br>
            </div>
        </section>
        <section class="single-training">
            <h2 class="tr-page">Тренировка руки</h2>
            <p class="date-single">27/03/2025</p>
            <div class="container-st">
                <div class="st-exercise-cont">
                    <div class="st-title">Кисти</div><br>
                    <div class="st-description">
                        <form> <!-- см джава скрипт -->
                            <div class="set-head">
                                <div>Вес (кг)</div>
                                <div id="d2">Повт.</div>
                            </div>
                            <div class="set-single">
                                <span>1</span>
                                <input type="number">
                                <input type="number">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="color-toggle">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="set-single">
                                <span>2</span>
                                <input type="number">
                                <input type="number">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="color-toggle">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="set-single">
                                <span>3</span>
                                <input type="number">
                                <input type="number">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="color-toggle">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="st-exercise-cont">
                    <div class="st-title">Пронация</div><br>
                    <div class="st-description">
                        <form>
                            <div class="set-head">
                                <div>Вес (кг)</div>
                                <div id="d2">Повт.</div>
                            </div>
                            <div class="set-single">
                                <span>1</span>
                                <input type="number">
                                <input type="number">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="color-toggle">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="set-single">
                                <span>2</span>
                                <input type="number">
                                <input type="number">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="color-toggle">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="set-single">
                                <span>3</span>
                                <input type="number">
                                <input type="number">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="color-toggle">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="st-exercise-cont">
                    <div class="st-title">Пальцы</div><br>
                    <div class="st-description">
                        <form>
                            <div class="set-head">
                                <div>Вес (кг)</div>
                                <div id="d2">Повт.</div>
                            </div>
                            <div class="set-single">
                                <span>1</span>
                                <input type="number">
                                <input type="number">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="color-toggle">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="set-single">
                                <span>2</span>
                                <input type="number">
                                <input type="number">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="color-toggle">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="set-single">
                                <span>3</span>
                                <input type="number">
                                <input type="number">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="color-toggle">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="st-exercise-cont">
                    <div class="st-title">Отведение</div><br>
                    <div class="st-description">
                        <form>
                            <div class="set-head">
                                <div>Вес (кг)</div>
                                <div id="d2">Повт.</div>
                            </div>
                            <div class="set-single">
                                <span>1</span>
                                <input type="number">
                                <input type="number">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="color-toggle">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="set-single">
                                <span>2</span>
                                <input type="number">
                                <input type="number">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="color-toggle">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="set-single">
                                <span>3</span>
                                <input type="number">
                                <input type="number">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="color-toggle">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="st-exercise-cont">
                    <div class="st-title">Арм</div><br>
                    <div class="st-description">
                        <form>
                            <div class="set-head">
                                <div>Вес (кг)</div>
                                <div id="d2">Повт.</div>
                            </div>
                            <div class="set-single">
                                <span>1</span>
                                <input type="number">
                                <input type="number">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="color-toggle">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="set-single">
                                <span>2</span>
                                <input type="number">
                                <input type="number">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="color-toggle">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="set-single">
                                <span>3</span>
                                <input type="number">
                                <input type="number">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="color-toggle">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </form>

                    </div>
                </div>
                <button id="submit-all" class="btn-result">Закончить тренировку</button>
            </div>
        </section>

        <script>

        document.querySelectorAll('.color-toggle').forEach(checkbox => {
            checkbox.addEventListener('change', () => {
                const parent = checkbox.closest('.set-single');
                parent.classList.toggle('active', checkbox.checked);
            });
        });
        document.getElementById('submit-all').addEventListener('click', function () {
            document.getElementById('form1').submit(); // потом добавть айди
            document.getElementById('form1').submit();
            document.getElementById('form1').submit();
            document.getElementById('form1').submit();
            document.getElementById('form1').submit();
        });
        </script>


        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/mixitup.min.js"></script>
        <script src="js/jquery.nice-select.min.js"></script>
        <script src="js/jquery.slicknav.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/masonry.pkgd.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>