<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Main page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Prictice app">

        <link rel="icon" href="" type="image/x-icon">

        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
        <link rel="stylesheet" href="css/nice-select.css" type="text/css">
        <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
        <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
        <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
 
    
    </head>
    <body>  
        <div id="preloder">
            <div class="loader"></div>
        </div>
        <header class="header-section header-normal">
            <div class="container-fluid">
                <div class="logo">
                    <a href="#">
                        <img src="img/logo.png" alt="">
                    </a>
                    </div>
                    <div class="container">
                        <div class="nav-menu">
                            <nav class="mainmenu mobile-menu">
                                <ul>
                                    <li><a href="main.html">Главная</a></li>
                                    <li><a href="training-main.html">Тренировки</a></li>
                                    <li><a href="calendar.html">Календарь</a></li>
                                    <li><a href="other.html">Прочее</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                <div id="mobile-menu-wrap"></div>
            </div>
        </header>

        <section class="top-label" style="background-image: url('img/top-label-tr.jpg');">
            <div class="container-label mob-container-label">
                <h1>Тренировки</h1><br>
                
            </div>
        </section>

        <section class="go-programm">
            <div class="go-go">
                <h2 class="tr-page">Список программ</h2>
                <div class="program-list-demo" style="background-image: url('img/program-ph.jpg');"><h3>Тяни - толкай</h3></div>
                <div class="program-list-demo" style="background-image: url('img/program-ph.jpg');"><h3>Сплит</h3></div>
                <div class="program-list-demo" style="background-image: url('img/program-ph.jpg');"><h3>Фулбади 1</h3></div> 
                <div class="program-list-demo" style="background-image: url('img/program-ph.jpg');"><h3>Фулбади 2</h3></div>
                <div class="program-list-demo" style="background-image: url('img/program-ph.jpg');"><h3>Арм</h3></div>               
            </div>
        </section>

        <section class="dec">
            <h2>Нравится? Купи подписку!</h2>
            <a class="btn-tr-page" href="price.html">Купить!</a>
        </section>

        <section class="constructor-tr">
            <h2 class="tr-page">Создай свою собственную тренировку</h2>
            <div class="img-tr-cont"><img src="img/create-tr.jpg"></div>
            <a href="constructor.html">Создать!</a>
        </section>


        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/mixitup.min.js"></script>
        <script src="js/jquery.nice-select.min.js"></script>
        <script src="js/jquery.slicknav.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/masonry.pkgd.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>