{% extends 'fitapp/index.html' %}
{% load static %}

{% block title %}Конструктор{% endblock %}

{% block preloader %}

{% endblock %}

{% block main %}
        <form><section class="training-single" id="exercise-container">
            
            <h1>Создай свою тренировку</h1>
            <div class="exercise">
                <h3>Упражнение</h3>
                <div class="exercise-cont">
                    <div class="ex-name-cont">
                        <span>Упражнение 1</span><br>
                        <input type="text" class="input-exercise" placeholder="Название упражнения">
                    </div>
                    <div class="ex-cont set-cont">
                        <span>подход</span><br>
                        <input type="number" class="ex-inp input-set" placeholder="1-5">
                    </div>
                    <div class="ex-cont reps-cont">
                        <span>повторение</span><br>
                        <input class="ex-inp input-rep" placeholder="1-12">
                    </div>
                    <div class="ex-cont weight-cont">
                        <span>вес</span><br>
                        <input class="ex-inp input-weight" placeholder="1-500">
                    </div>
                </div>
            </div>
            
        </section>
        <button class="btn-result" id="create-tr" type="submit">Сохранить тренировку</button>
    </form>
        <button onclick="addExercise()" id="add-exercise">Добавить упражнение</button>

        <script type="text/javascript">
let count = 2;

function addExercise() {
    const exerciseContainer = document.getElementById('exercise-container');
    const newExercise = document.createElement('div');
    newExercise.classList.add('exercise');

    newExercise.innerHTML = `
        <h3>Упражнение </h3>
        <div class="exercise-cont">
            <div class="ex-name-cont">
                <span>Упражнение ${count}</span><br>
                <input type="text" class="input-exercise" placeholder="Введите название упражнения">
            </div>
            <div class="ex-cont set-cont">
                <span>подход</span><br>
                <input type="number" class="ex-inp input-set" placeholder="1-5">
            </div>
            <div class="ex-cont reps-cont">
                <span>повторение</span><br>
                <input class="ex-inp input-rep" placeholder="1-12">
            </div>
            <div class="ex-cont weight-cont">
                <span>вес</span><br>
                <input class="ex-inp input-weight" placeholder="1-500">
            </div>
        </div>
    `;
    count++;
    if (count < 22) {
        exerciseContainer.appendChild(newExercise);
    } else {
        console.log(count);
        alert("Вы достигли лимита упражнений за тренировку");
    }
}

{% endblock %}