{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Prictice app">


        <link rel="icon" href="" type="image/x-icon">

        <link rel="stylesheet" href="{% static 'fitapp/css/bootstrap.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'fitapp/css/font-awesome.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'fitapp/css/elegant-icons.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'fitapp/css/nice-select.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'fitapp/css/owl.carousel.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'fitapp/css/magnific-popup.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'fitapp/css/slicknav.min.css' %}" type="text/css">
        <link rel="stylesheet" type="text/css" href="{% static 'fitapp/css/style.css' %}">


    </head>
    <body>
        {% block preloader %}{% endblock %}

        <header class="header-section">
            <div class="container-fluid">
                <div class="logo">
                <a href="#">
                    <img src="{% static 'fitapp/img/logo.png' %}" alt="Logo">
                </a>
                </div>
            </div>
        </header>

        {% block main %} {% endblock %}
        <footer>
                <div class="footer-container">
                    <ul>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div>© 2025 Vsevolod Ustav. </div>
            </footer>

            <!-- JS -->
            <script src="{% static 'fitapp/js/jquery-3.3.1.min.js' %}"></script>
            <script src="{% static 'fitapp/js/bootstrap.min.js' %}"></script>
            <script src="{% static 'fitapp/js/jquery.magnific-popup.min.js' %}"></script>
            <script src="{% static 'fitapp/js/mixitup.min.js' %}"></script>
            <script src="{% static 'fitapp/js/jquery.nice-select.min.js' %}"></script>
            <script src="{% static 'fitapp/js/jquery.slicknav.js' %}"></script>
            <script src="{% static 'fitapp/js/owl.carousel.min.js' %}"></script>
            <script src="{% static 'fitapp/js/masonry.pkgd.min.js' %}"></script>
            <script src="{% static 'fitapp/js/main.js' %}"></script>
    </body>
</html>