{% extends 'fitapp/index.html' %}
{% load static %}

{% block title %}Готовые программы{% endblock %}

{% block preloader %}

{% endblock %}

{% block main %}

        <section class="top-label" style="background-image: url({% static 'fitapp/img/top-label-tr.jpg' %});">
            <div class="container-label mob-container-label">
                <h1>Тренировки</h1><br>
                
            </div>
        </section>

        <section class="go-programm">
            <div class="go-go">
                <h2 class="tr-page">Список программ</h2>
                <div class="program-list-demo" style="background-image: url({% static 'fitapp/img/program-ph.jpg' %});"><h3>Тяни - толкай</h3></div>
                <div class="program-list-demo" style="background-image: url({% static 'fitapp/img/program-ph.jpg' %});"><h3>Сплит</h3></div>
                <div class="program-list-demo" style="background-image: url({% static 'fitapp/img/program-ph.jpg' %});"><h3>Фулбади 1</h3></div>
                <div class="program-list-demo" style="background-image: url({% static 'fitapp/img/program-ph.jpg' %});"><h3>Фулбади 2</h3></div>
                <div class="program-list-demo" style="background-image: url({% static 'fitapp/img/program-ph.jpg' %});"><h3>Арм</h3></div>
            </div>
        </section>

{% endblock %}