{% extends 'fitapp/index.html' %}
{% load static %}

{% block title %}Готовые программы{% endblock %}

{% block preloader %}

{% endblock %}

{% block main %}

        <section class="top-label" style="background-image: url({% static 'fitapp/img/top-label-tr.jpg' %});">
            <div class="container-label mob-container-label">
                <h1>Тренировки</h1><br>
                
            </div>
        </section>

        <section class="go-programm">
            <div class="go-go">
                <h2 class="tr-page">Список программ</h2>
                {% for program in programs %}
                    <a href="{% url 'dprogram' program.name %}" class="program-list-demo" style="background-image: url({% static 'fitapp/img/program-ph.jpg' %});"><h3>{{ program.name }}</h3></a>
                    <a href="{% url 'tr' program.name %}" class="start-tr-btn">Начать тренировку</a>
                {% endfor %}
            </div>
        </section>

{% endblock %}