{% extends 'fitapp/index.html' %}
{% load static %}

{% block title %} {% endblock %}

{% block preloader %}

{% endblock %}

{% block main %}

        <section class="top-label top-label-main" style="background-image: url({% static 'fitapp/img/single-label.jpg' %}); background-position: bottom;">
            <div class="container-label">
                <h1 id="single-label">Тренировка</h1><br>
            </div>
        </section>
        <section class="single-training">
            <form method="post">

                {% csrf_token %}

                {{ form.as_p }}
                {% for ex in exercise %}
                  <div class="container-st">
                    <div class="st-exercise-cont">
                      <div class="st-title">{{ ex.exercise }}</div><br>
                      <div class="st-description" data-sets="{{ ex.sets }}" data-form-index="{{ forloop.counter0 }}">
                        <div class="set-head">
                          <div>Вес (кг)</div>
                          <div id="d2">Повт.</div>
                        </div>
                        <!-- Контейнер, в который добавим повторы -->
                        <div class="set-list"></div>
                      </div>
                    </div>
                  </div>
                {% endfor %}

                <button id="submit-all" class="btn-result">Закончить тренировку</button>
            </form>
        </section>

        <script>
document.addEventListener("DOMContentLoaded", function () {
  document.querySelectorAll(".st-description").forEach(function (descEl) {
    const setsCount = parseInt(descEl.dataset.sets);
    const formIndex = descEl.dataset.formIndex;
    const setList = descEl.querySelector(".set-list");

    for (let i = 0; i < setsCount; i++) {
      const setDiv = document.createElement("div");
      setDiv.className = "set-single";

      setDiv.innerHTML = `
        <span>${i + 1}</span>
        <input name="form-${formIndex}-${i}-weight" type="number">
        <input name="form-${formIndex}-${i}-reps" type="number">
        <label class="custom-checkbox">
          <input type="checkbox" class="color-toggle">
          <span class="checkmark"></span>
        </label>
      `;

      setList.appendChild(setDiv);
    }
  });
});

        </script>


{% endblock %}