{% extends 'fitapp/index.html' %}
{% load static %}

{% block title %} {% endblock %}

{% block preloader %}

{% endblock %}

{% block main %}

        <section class="top-label top-label-main" style="background-image: url({% static 'fitapp/img/single-label.jpg' %}); background-position: bottom;">
            <div class="container-label">
                <h1 id="single-label">Тренировка</h1><br>
            </div>
        </section>
        <section class="single-training">
            <h2 class="tr-page">Тренировка руки</h2>
            <p class="date-single">27/03/2025</p>
            <div class="container-st">
                <div class="st-exercise-cont">
                    <div class="st-title">Кисти</div><br>
                    <div class="st-description">
                        <form> <!-- см джава скрипт -->
                            <div class="set-head">
                                <div>Вес (кг)</div>
                                <div id="d2">Повт.</div>
                            </div>
                            <div class="set-single">
                                <span>1</span>
                                <input type="number">
                                <input type="number">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="color-toggle">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="set-single">
                                <span>2</span>
                                <input type="number">
                                <input type="number">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="color-toggle">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="set-single">
                                <span>3</span>
                                <input type="number">
                                <input type="number">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="color-toggle">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="st-exercise-cont">
                    <div class="st-title">Пронация</div><br>
                    <div class="st-description">
                        <form>
                            <div class="set-head">
                                <div>Вес (кг)</div>
                                <div id="d2">Повт.</div>
                            </div>
                            <div class="set-single">
                                <span>1</span>
                                <input type="number">
                                <input type="number">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="color-toggle">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="set-single">
                                <span>2</span>
                                <input type="number">
                                <input type="number">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="color-toggle">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="set-single">
                                <span>3</span>
                                <input type="number">
                                <input type="number">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="color-toggle">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="st-exercise-cont">
                    <div class="st-title">Пальцы</div><br>
                    <div class="st-description">
                        <form>
                            <div class="set-head">
                                <div>Вес (кг)</div>
                                <div id="d2">Повт.</div>
                            </div>
                            <div class="set-single">
                                <span>1</span>
                                <input type="number">
                                <input type="number">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="color-toggle">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="set-single">
                                <span>2</span>
                                <input type="number">
                                <input type="number">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="color-toggle">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="set-single">
                                <span>3</span>
                                <input type="number">
                                <input type="number">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="color-toggle">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="st-exercise-cont">
                    <div class="st-title">Отведение</div><br>
                    <div class="st-description">
                        <form>
                            <div class="set-head">
                                <div>Вес (кг)</div>
                                <div id="d2">Повт.</div>
                            </div>
                            <div class="set-single">
                                <span>1</span>
                                <input type="number">
                                <input type="number">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="color-toggle">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="set-single">
                                <span>2</span>
                                <input type="number">
                                <input type="number">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="color-toggle">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="set-single">
                                <span>3</span>
                                <input type="number">
                                <input type="number">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="color-toggle">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="st-exercise-cont">
                    <div class="st-title">Арм</div><br>
                    <div class="st-description">
                        <form>
                            <div class="set-head">
                                <div>Вес (кг)</div>
                                <div id="d2">Повт.</div>
                            </div>
                            <div class="set-single">
                                <span>1</span>
                                <input type="number">
                                <input type="number">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="color-toggle">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="set-single">
                                <span>2</span>
                                <input type="number">
                                <input type="number">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="color-toggle">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="set-single">
                                <span>3</span>
                                <input type="number">
                                <input type="number">
                                <label class="custom-checkbox">
                                    <input type="checkbox" class="color-toggle">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </form>

                    </div>
                </div>
                <button id="submit-all" class="btn-result">Закончить тренировку</button>
            </div>
        </section>

        <script>

        document.querySelectorAll('.color-toggle').forEach(checkbox => {
            checkbox.addEventListener('change', () => {
                const parent = checkbox.closest('.set-single');
                parent.classList.toggle('active', checkbox.checked);
            });
        });
        document.getElementById('submit-all').addEventListener('click', function () {
            document.getElementById('form1').submit(); // потом добавть айди
            document.getElementById('form1').submit();
            document.getElementById('form1').submit();
            document.getElementById('form1').submit();
            document.getElementById('form1').submit();
        });
        </script>


{% endblock %}