{% extends 'fitapp/index.html' %}
{% load static %}

{% block title %}Тренировки{% endblock %}

{% block preloader %}
<div id="preloder">
    <div class="loader"></div>
</div>
{% endblock %}

{% block main %}

        <section class="top-label" style="background-image: url({% static 'fitapp/img/top-label-tr.jpg' %});">
            <div class="container-label mob-container-label">
                <h1>Тренировки</h1><br>
                
            </div>
        </section>

        <section class="go-programm">
            <div class="go-go">
                <h2 class="tr-page">Список программ</h2>
                <div class="program-list-demo" style="background-image: url({% static 'fitapp/img/program-ph.jpg' %});"><h3>Тяни - толкай</h3></div>
                <div class="program-list-demo" style="background-image: url({% static 'fitapp/img/program-ph.jpg' %});"><h3>Сплит</h3></div>
                <div class="program-list-demo" style="background-image: url({% static 'fitapp/img/program-ph.jpg' %});"><h3>Фулбади 1</h3></div>
                <div class="program-list-demo" style="background-image: url({% static 'fitapp/img/program-ph.jpg' %});"><h3>Фулбади 2</h3></div>
                <div class="program-list-demo" style="background-image: url({% static 'fitapp/img/program-ph.jpg' %});"><h3>Арм</h3></div>
            </div>
        </section>

        <section class="dec">
            <h2>Нравится? Купи подписку!</h2>
            <a class="btn-tr-page" href="price.html">Купить!</a>
        </section>

        <section class="constructor-tr">
            <h2 class="tr-page">Создай свою собственную тренировку</h2>
            <div class="img-tr-cont"><img src="img/create-tr.jpg"></div>
            <a href="constructor.html">Создать!</a>
        </section>

{% endblock %}