<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Main page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Prictice app">
        

        <link rel="icon" href="" type="image/x-icon">

        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
        <link rel="stylesheet" href="css/nice-select.css" type="text/css">
        <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
        <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
        <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
 
    
    </head>
    <body>
        <div id="preloder">
            <div class="loader"></div>
        </div>
        <header class="header-section header-normal">
            <div class="container-fluid">
                <div class="logo">
                    <a href="#">
                        <img src="img/logo.png" alt="">
                    </a>
                    </div>
                    <div class="container">
                        <div class="nav-menu">
                            <nav class="mainmenu mobile-menu">
                                <ul>
                                    <li><a href="main.html">Главная</a></li>
                                    <li><a href="training-main.html">Тренировки</a></li>
                                    <li><a href="calendar.html">Календарь</a></li>
                                    <li><a href="other.html">Прочее</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                <div id="mobile-menu-wrap"></div>
            </div>
        </header>
        <section class="top-label top-label-main" style="background-image: url('img/top-label.jpg');">
            <div class="container-label">
                <h1>Главная</h1><br>
                <a href="#" class="start-btn">Начать прямо сейчас</a>
            </div>
        </section>
        <section class="about-section">
            <div class="text-about">
                <h3>Добро пожаловать в семью</h3><br>
                <p id="big-p">Вы наткнулись на самое крутое приложение для персональных тренировок</p>
                <p>Здесь вы сможете:
                    <ul>
                        <li class="about-li">Составить план тренировки</li>
                        <li class="about-li">Выбрать и заниматься по уже существующей программе</li>
                        <li class="about-li">Составить персональное расписание</li>
                        <li class="about-li">Найти полезные советы по питанию</li>
                        <li class="about-li">Калькуляторы, советы от профессионалов и многое другое</li>
                    </ul>
                </p>
            </div>
            <img src="img/about-main.jpg">
        </section>

        <section class="go-training">
            <h2>Идем на тренировку</h2><br><br>
            <div class="container-go"> 
                <a href="program-list.html" class="s">
                    <div class="img-cont" style="background-image: url('img/program.jpg');">
                        <div class="blur"></div>
                        <h4>Готовая программа</h4>
                    </div>
                </a>
                <a href="constructor.html" class="s">
                    <div class="img-cont" style="background-image: url('img/personal.jpg');">
                        <div class="blur"></div>
                        <h4>Создание персональной тренировки</h4>
                    </div>
                </a>
                <a href="other.html" class="s">
                    <div class="img-cont" style="background-image: url('img/calc.jpg');">
                        <div class="blur"></div>s
                        <h4>Калькуляторы и полезная инфа</h4>
                    </div>
                </a>
                <a href="calendar.html" class="s">
                    <div class="img-cont" style="background-image: url('img/calendar.jpg');">
                        <div class="blur"></div>
                        <h4>Календарь тренировок</h4>
                    </div>
                </a>
            </div>
        </section>

        <section class="price">
            <div class="price-container" >
                <h2>Выбери свой персональный план</h2><br>
                <p id="pp">Зарегистрируйтесь и выберете любой из предложенных пакетов услуг!</p>
                <div class="price-list">
                    <div class="price-detail">
                        <div class="first-box-price">
                            <h4>БАЗОВЫЙ</h4>
                            <div class="price-detail-price">0 ₽</div><p>в месяц</p>
                        </div>
                        <div class="price-description">
                            <ul>
                                <li class="price-description-detail">Базовая программа тренировок</li>
                                <li class="price-description-detail">Доступ к календарю</li>
                                <li class="price-description-detail">Доступ к разделу прочее</li>
                            </ul>
                        </div>
                        <a href="#">НАЧАТЬ</a>
                    </div>
                    <div class="price-detail">
                        <div class="first-box-price">
                            <h4>ПРОДВИНУТЫЙ</h4>
                            <div class="price-detail-price">500 ₽</div><p>в месяц</p>
                        </div>
                        <div class="price-description">
                            <ul>
                                <li class="price-description-detail">Привелегии базового пакета</li>
                                <li class="price-description-detail">Доступ к конструктору тренировок</li>
                                <li class="price-description-detail">Доступ к программам продвинутого уровня</li>
                            </ul>
                        </div>
                        <a href="#">НАЧАТЬ</a>
                    </div>
                    <div class="price-detail">
                        <div class="first-box-price">
                            <h4>ПРЕМИУМ</h4>
                            <div class="price-detail-price">1500 ₽</div><p>в месяц</p>
                        </div>
                        <div class="price-description">
                            <ul>
                                <li class="price-description-detail">Все привелегии базового и продвинутого пакета</li>
                                <li class="price-description-detail">Доступны все тренировочные программы</li>
                                <li class="price-description-detail">Доступ к вип чату</li>
                            </ul>
                        </div>
                        <a href="#">НАЧАТЬ</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="aboutus-section spad">
            <div class="container">
                <div class="aboutus-page-text">
                        <div class="row">
                            <div class="col-xl-9 col-lg-10 m-auto">
                            <div class="section-title">
                                <h2>Кто мы и что мы делаем</h2>
                                <p>Сборище крутых профессионалов в области фитнеса, спорта и нутрициологии</p>
                            </div>
                        </div>
                    </div>
                    <img src="img/about-us.jpg" alt="">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="about-us">
                                <h4>О нас</h4>
                                <p>Сплав крутых спортсменов и разработчиков, которые объединили свои усилия для создание лучшего фитнес приложения в мире. Мы - быстро развивающийся стартап, который уже через 10 лет полностью подомнет под себя фитнес индустрию и станет королем Олимпа.</p>
                                <p>Присоединяйтесь прямо сейчас, чтобы говорить, что вы стояли у истоков проекта. Настоящих олдов мы, конечно, будем поощрать скидочками, бонусами и подарками. 
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="about-quality">
                                <h4>Наши навыки</h4>
                                <p>Занимаясь по нашим программам, вы без труда достигнете быстрого роста, и в кратчайшие сроки сможете добиться желаемого результата. Мы с удовольствием вам поможем, так как являемся лучшими в области:</p>
                                <ul>
                                    <li>Силовых тренировок</li>
                                    <li>Нутрициологии</li>
                                    <li>Командных видах спорта</li>
                                    <li>Легкой и тяжелой атлетике</li>
                                    <li>Бодибилдинге и пауэрлифтинге</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="footer-container">
                <h4>Наши контакты</h4>
                <ul>
                    <li>Telegram</li>
                    <li>Discord</li>
                    <li>Email</li>
                </ul>
                <h4>Наши соцсети</h4>
                <ul>
                    <li>Instagram</li>
                    <li>Telegram</li>
                    <li>VK</li>
                </ul>
            </div>
            <div>© 2025 Всеволод Устав. Все права защищены.</div>
        </footer>

        <!-- JS -->
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/mixitup.min.js"></script>
        <script src="js/jquery.nice-select.min.js"></script>
        <script src="js/jquery.slicknav.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/masonry.pkgd.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>